@page "/"
@inject MarkdownLoader Loader

<PageTitle>Index</PageTitle>

<div>
    @((MarkupString)ContentValue)
</div>

@code
{
    protected string ContentValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ContentValue = await Loader.Load("/content/index.md");
    }
}
